:root{
    --colorPrimary: #0065FC;
    --colorSecondary: #DEEBFF;
    --colorTertiary: #F2F2F2;
    --colorWhite: #FFFFFF;
    --colorBlack:#000000;
    /* Radius */
    --radiusSearch: 15px;

}

/* padding: 29px 20px 50px 20px  */

            /* **************** */
            /* Version tablette */
            /* **************** */

@media screen and (max-width:991px) and (min-width: 768px) {
    body{background-color: orange;}
    header{
        padding: 20px 10px 0px 10px;
    }
    
    main{
        padding:20px 10px 0px 10px;
    }
    #groupes-list>h2{
        margin-right:170px ;
    }
    #groupes-list{
        gap: 10px;
    }
    #filter-list{
        gap: 10px;
        
    }
    .filter>span{
        margin-right: 3px;
        padding:13px;
        font-size: var(--fSh2);
    }
    #splitSection{
        flex-direction:column-reverse

    }
    #hebergement{
        max-width: 100%;
    }
    .card:hover{
        transform: scale(1.02);
    }
    #activity{
        border-radius: 0;
        background-color: var(--colorWhite);
        padding:30px 0px 70px;
        margin-top:10px;
    }
    #activity h2{
        padding: 20px 0px;
    }
    #listActivity{
        gap: 30px;
    }
    .cardActivity{
        width: calc(25% - 30px / 4*3)
    }
    .cardActivity-md{
        flex: 1 1 calc(60% - 30px * 2);
    }
    .cardActivity-sm{
        flex: 1 1 calc(40% - 30px * 2);
    }
    .groupFooter {
        padding: 1% 14% 4% 10px;
    }
}

            /* ************** */
            /* Version Mobile */
            /* ************** */

@media screen and (max-width: 767px ) {

    body{
        border: 1px solid red;
        
    }

    header{
        padding: 0;
        border: 1px solid yellow;
    }

    main{
        padding: 0;
        border: 1px solid green;
    }
            /* ****** */
            /* header */
            /* ****** */

    nav, nav>ul>li{
        width:100%;
    }

    #top{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-top:29px;
    }

    #topNav>li{
        list-style: none;
        width:100%;
        padding-top: 0px;
        padding-bottom: 14px;
        border-bottom: 2px solid var(--colorTertiary);
    }

    #topNav>li:hover {
        border-top: none;
        border-bottom: 2px solid var(--colorPrimary);
        color:var(--colorPrimary);
        padding-bottom: 12px;
        padding-top: 0px;
    }

    #topNav>li>a:hover {
        color: var(--colorPrimary);
    }

    /* ***** */
    /* main */
    /* ***** */

    #title{
        padding: 10px 20px 10px 20px;
    }

    h1{
        font-size: 22px;
    }

    p{
        font-size: 16px;
    }

            /* ********** */
            /* form search */
            /* ********** */

    #form{
        padding: 10px 20px 10px 20px;
        height: 48px;
    }
    
    .iconSearch{
        height: 48px;
        width: 48px;
        padding: 16px 18px;
    }

    #inputSearch{
        padding-left:70px;
        width: 100%;
        height: 48px;
    }

            /* ************* */
            /* button search */
            /* ************* */

    .btnSearch{
        position:absolute;
        right: 20px;
        border-top-left-radius: var(--radiusSearch);
        border-bottom-left-radius: var(--radiusSearch);
        width: 48px;
        height: 48px;
    }

    .btnSearch>i{
        color:var(--colorWhite);
        display: block;
    }

    .btnSearch>span{
        display: none;
    }

        /* ******************** */
        /* *****DIV filtre***** */
        /* ******************** */
    /* #filter-list h2{
        padding-right:100px;
    } */
    #groupes-list{
        padding: 0px 20px;
    }
    #filter-list{
        margin-top: 0px;
    }
    .filter>span{
        font-weight: bold;
        text-align: center;
        margin-right: 3px;
        padding:8px;
        font-size: 18px;
    }

                /* **** */
                /* icon */
                /* **** */
                
    .iconFilter{
        color: var(--colorPrimary);
        background-color: var(--colorSecondary);
        padding:17px ;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin-left:-5px;
        margin-top: -2px;
    }

                /* ******** */
                /* DIV info */
                /* ******** */

    #info{
    padding: 0px 20px 10px 20px;
    align-items:baseline;
    }
    #splitSection{
        flex-direction:column-reverse
    }
    #hebergement{
        max-width: 100%;
        background-color: var(--colorWhite);
        padding: 20px 3%;
    }
    .listCard{
        flex-direction: column;
    }
    #populaire{
        border-radius: 0;
        padding: 40px 3%;
    }
    .card:hover{
        transform: scale(1.02);
    }

                /* ******** */
                /* Activity */
                /* ******** */

    #activity{
        border-radius: 0;
        background-color: var(--colorWhite);
        padding:3%;
        margin-top:10px;
    }
    #activity h2{
        padding: 20px 0px;
    }
    #listActivity{
        height: auto;
        width: auto;
        padding-bottom: 25px;
    }
    
    .cardActivity{
        padding:0;
        width: auto;
    }    
    footer{
        flex-direction: column;
    }
    .groupFooter {
        padding: 1% 14% 4% 3%;
    }
}
