    /* importing font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

    /* Variable */

:root{
    /* Font-size and weight */
    
    --fS--xl: 22px;
    --fS--l: 18px;
    --fS--m: 16px;
    --fS--s: 14px;
    --fW--b: 700;
    --fW--r: 400;
    
    /* Color */

    --colorPrimary: #0065FC;
    --colorSecondary: #DEEBFF;
    --colorTertiary: #F2F2F2;
    --colorWhite: #FFFFFF;
    --colorBlack:#000000;
    
    /* Radius */

    --radiusSearch: 15px;
    --radiusFilter: 25px;
    --radiusCard: 20px;
}

            /* ******************** */
            /* Propriété Principaux */
            /* ******************** */

/* box-sizing et font-family est appliqué à tous les éléments */
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    max-width: 1440px;
    margin:auto;
}

h1, h2{
    font-size: var(--fS--xl);
    font-weight: var(--fW--b);
}

h3{
    font-size: var(--fS--m);
    font-weight: var(--fW--b);
}

p{
    font-size: var(--fS--m);
    font-weight: var(--fW--r); 
}

a{
    font-size: var(--fS--m);
    font-weight: var(--fW--r);
    text-decoration: none;
    color: var(--colorBlack);
}

span, input{
    font-size: var(--fS--l);
    font-weight: var(--fW--b);
}

        /* ******************* */
        /*      End Setup      */
        /* ******************* */

        /* **************** */
        /*      header      */
        /* **************** */

header{
    padding: 40px 40px 0px 40px;
}

#top{
    display: flex;
    justify-content: space-between;
    height: 33px;
    align-items: end;
    text-align: center;
}

            /* logo */

#top img{
    height: 45px;
}

            /* navigation */

#top-nav{
    display: flex;
}

#top-nav>li{
    list-style: none;    
    width: 140px;
    padding-top: 39px;
    cursor: pointer;
}

#top-nav>li:hover{
    border-top:2px solid var(--colorPrimary);
    color:var(--colorPrimary);
    padding-top:37px;
}

#top-nav>li:hover a{
    color: var(--colorPrimary);
}

        /* ******************** */
        /*      End header      */
        /* ******************** */

        /* ************** */
        /*      main      */
        /* ************** */

main{
    padding:48px 40px 0px 40px;
}

            /* ***** */
            /* form  */
            /* ***** */

#form{
    height: 50px;
}

            /* icon */

.fa-map-marker-alt{
    position: absolute;
    padding: 17px 19px ;
    border-top-left-radius: var(--radiusSearch);
    border-bottom-left-radius: var(--radiusSearch);
    background-color: var(--colorTertiary);
}

            /* input */

#input-search{
    border:2px solid var(--colorTertiary);
    border-top-left-radius:var(--radiusSearch);
    border-bottom-left-radius:var(--radiusSearch);
    padding-left:70px;
    width: 290px;
    height: inherit;
}

#input-search::placeholder{
    color: var(--colorBlack);
    opacity: 1;
}

            /* button search */

.btn-search{
    position: relative;
    right: 6px;
    background-color: var(--colorPrimary);
    color: var(--colorWhite);
    border-bottom-right-radius: var(--radiusSearch);
    border-top-right-radius: var(--radiusSearch);
    width: 125px;
    height: inherit;
    border: none;
    cursor: pointer;
}

.btn-search>i{
    color:var(--colorWhite);
    display: none;
}
.btn-search:hover{
    background-color: #3988ff;
}

            /* ******************* */
            /*      end form       */
            /* ******************* */

            /* *************** */
            /*      filter     */
            /* *************** */

#group-filter{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 4%;
    align-items: center;
    margin-top: 30px;   
}

#filter-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.filter{
    display: flex;
    width: auto;
    align-items: center;
    border: 2px solid var(--colorTertiary);
    background-color: var(--colorWhite);
    border-radius: var(--radiusFilter);
    height: 50px;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.filter>span{
    margin-right: 3px;
    padding:12px;
}

.filter:hover{
    background-color: var(--colorSecondary);
    border: 2px solid var(--colorSecondary);
    transform: scale(1.02);
}

            /* icon filter */
            
.icon-filter{
    color: var(--colorPrimary);
    background-color: var(--colorSecondary);
    padding:17px ;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left:-2px;
}

            /* ******************* */
            /*      end filter     */
            /* ******************* */

                /* ************** */
                /*      info      */
                /* ************** */
                

#info{
    display: flex;
    align-items: baseline;
    margin-top: 20px;

}
#icon-info{
    color: var(--colorPrimary);
    border: 2px solid var(--colorTertiary);
    border-radius: 50%;
    margin-right: 8px;
    height: 25px;
    width: 25px;
    padding: 1px 0px 0px 8px;
}

            /* ****************** */
            /*      end info      */
            /* ****************** */

            /* ***************************************** */
            /*      split Accommodation and popular      */
            /* ***************************************** */

#split-section{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.group-section{
    display: flex;
    flex-direction: column;
    border-radius: var(--radiusCard);
    background-color: var(--colorTertiary);
    padding: 20px 40px;
}

            /*      Accommodation      */

#accommodation{
    max-width: calc(66.3% - 30px);
}

.list-card{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    margin-top: 10px;
}

.card{
    padding: 5px;
    border-radius: var(--radiusCard);
    background-color: var(--colorWhite);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.156);
    transition: all 100ms ease;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    background-color: var(--colorSecondary);
    color: var(--colorPrimary);
}

.card-accommodation{
    flex: 1 1 calc(33.3% - 30px);
}

.card-body{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: inherit;
    overflow:hidden;
}

.container-img{
    position:relative;
    min-height: 110px;
}

.img-hebergement{
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-card{
    padding: 10px 15px;
}

.info-card h3, .info-card p{
    margin: 5px 0px;
}

.info-card p{
    font-size: var(--fS--s);
}

            /*      icon star      */

.star-blue{
    color: var(--colorPrimary);
}
.star-gray{
    color: var(--colorTertiary);
}
.fa-star{
    width: 10px;
    font-size: 12px; 
}

            /*      end icon star      */

#link{
    font-size: var(--fS--l);
    font-weight: var(--fW--b);
    padding: 30px 0px 10px;
    cursor: pointer;
}
#link:hover{
    color: var(--colorPrimary);
}

            /*      most popular      */
            
#title-pop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-chart-line{
    font-size: 22px;
}

#list-pop{
    flex-direction: column;
}

#list-pop .card-body{
    flex-direction: row;
}

#list-pop .container-img{
    flex:0 0 35%;
    height: 135px;
}

#list-pop .img-hebergement{
    position:static;
}

#list-pop .info-card{
    padding: 3% 12% 3% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
            /* end most popular */

        /*      end accommodation      */

        /* ***************************************** */
        /*      split Accommodation and popular      */
        /* ***************************************** */


            /* ********** */
            /* activities */
            /* ********** */
            
#activities{

    padding:30px 0px 60px;
    margin-top:10px;
}

#list-activities{
    display: flex;
    gap: 40px;

    flex-direction: column;
    flex-wrap: wrap;
    height: 450px;
}

.activity-card{
    padding:0;
    width: calc(25% - 40px / 4*3)
}
.activity-card-lg{
    flex: 0 0 100%;
}
.activity-card-md{
    flex: 1 1 calc(60% - 40px * 2);
}
.activity-card-sm{
    flex: 1 1 calc(40% - 40px * 2);
}
.activity-card .container-img{
    flex:1;
}

            /* ************** */
            /* end activities */
            /* ************** */

            /* **************** */
            /*      footer      */
            /* **************** */
            
footer{
    display: flex;
    background-color: var(--colorTertiary);
}

.group-footer {
    padding: 2% 14% 4% 2.5%;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.group-footer a:hover{
    text-decoration: underline;
}

            /* ******************** */
            /*      end footer      */
            /* ******************** */